body {
    background-color: #d4dbd9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display:flex;
    flex-direction: column;
	text-align:center;
    justify-content: center;
}

.title {
    font-family: 'Timmana', sans-serif;
    font-size: 5rem;
    margin: 0;
}

.game {
    margin: 0 auto;
	max-width: 70%;	
}

.choices {   
    border-radius: 8px;
    border: 1px solid white;
}

.choiceContainer {
    padding: 1rem;
}

#imgRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
    filter: blur(20px);
}

.image {
    max-width: 30%;
}

img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: -5px 8px 20px 1px #6b6b6b;
}

#radios {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.radioGroup label {
    display: block;
}

.submit {
    margin: 2rem 0 5rem 0;
    height: 2rem;
}

#nameInput {
    width: 30rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    margin-bottom: 1rem;
    border-radius: 8px;
}

button {    
    margin: 0 auto;
    height: 2rem;
    width: 8rem;
    border: 0;
    background: #0375ff;
    color: white;
    border-radius: 8px;
}

button:disabled {    
    margin: 0 auto;
    height: 2rem;
    width: 8rem;
    border: 0;
    background: #afafaf;
    color: white;
    border-radius: 8px;
}

h2 {
    margin: 0;
}

.winners {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
}

ul {
    padding: 1rem;
    border-top: 1px solid white;
}

li {
    list-style: none;
}